body {
  background-image: url("../imagenes/fondo1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: "EB Garamond", serif;
}


.main-content {
  flex-grow: 1;
  margin-top: 50px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 15px;
  position: relative; 
}


form {
  background-color: rgba(52, 213, 71, 0.8); 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
}

.form-label {
  color: #333;
  font-weight: bold;
}

.form-control {
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 12px;
  margin-bottom: 20px;
}


.btn-primary {
  background-color: #6d3c2d; 
  border-radius: 10px;
  padding: 10px 20px;
  border: none; 
  color: white;
}

.btn-primary:hover {
  background-color: white; 
  color: black;
}


.flash-messages {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f8d7da;
  color: #721c24;
  padding: 15px;
  border-radius: 5px;
  font-size: 1rem;
  display: none; 
  z-index: 9999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flash-messages.success {
  background-color: #d4edda;
  color: #155724;
}

.flash-messages.error {
  background-color: #f8d7da;
  color: #721c24;
}


.navbar {
  background-color: rgba(52, 213, 71, 0.68); 
  position: relative;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.navbar .navbar-nav .nav-link {
  color: #FFFFFF; 
  font-size: 1.1rem; 
}

.navbar .navbar-nav .nav-link:hover {
  color: #E27D2B;
}

.navbar-toggler {
  border: none;
}


.social-links {
  background-color: rgba(52, 213, 71, 0.9);
  padding: 20px;
  margin-top: 50px;
  border-radius: 10px;
}

.social-links h3 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.social-icons a {
  margin: 0 15px;
  outline: none; 
  text-decoration: none; 
}

.social-icons img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: transform 0.3s ease-in-out;
}

.social-icons img:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .social-links h3 {
    font-size: 1.2rem;
  }

  .social-icons img {
    width: 40px;
    height: 40px;
  }
}
