/* Mantén la base de los estilos, ya que son consistentes con los de la página de inicio */

/* Fondo de madera */
body {
  background-image: url("../imagenes/fondo1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: "EB Garamond", serif;
}

/* Contenido principal de la página de contacto */
.main-content {
  flex-grow: 1;
  margin-top: 50px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
  border-radius: 15px;
  position: relative; /* Necesario para que la imagen del chef se posicione dentro de este contenedor */
}

/* Estilo del formulario */
form {
  background-color: rgba(52, 213, 71, 0.8); /* Fondo verde claro */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
}

.form-label {
  color: #333;
  font-weight: bold;
}

.form-control {
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 12px;
  margin-bottom: 20px;
}

/* Estilo del botón de enviar mensaje */
.btn-primary {
  background-color: #6d3c2d; /* Color verde */
  border-radius: 10px;
  padding: 10px 20px;
  border: none; /* Asegura que no haya borde */
  color: white;
}

.btn-primary:hover {
  background-color: white; /* Color verde más oscuro cuando se pasa el ratón */
  color: black;
}


/* Estilo para el navbar */
.navbar {
  background-color: rgba(52, 213, 71, 0.68); /* Tono madera cálido que refleja el estilo del restaurante */
  position: relative;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil para darle profundidad */
}

.navbar .navbar-nav .nav-link {
  color: #FFFFFF; /* Blanco para los enlaces */
  font-size: 1.1rem; /* Ajuste en el tamaño de los enlaces */
}

.navbar .navbar-nav .nav-link:hover {
  color: #E27D2B; /* Naranja cuando se pasa el ratón sobre los enlaces */
}

.navbar-toggler {
  border: none;
}
.navbar-brand {
    border-radius: 40px;
}

/* Estilo para la sección de redes sociales */
.social-links {
  background-color: rgba(52, 213, 71, 0.9);
  padding: 20px;
  margin-top: 50px;
  border-radius: 10px;
}

.social-links h3 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.social-icons a {
  margin: 0 15px;
}

.social-icons img {
  width: 50px; /* Tamaño ajustado */
  height: 50px; /* Asegura que la imagen sea cuadrada */
  border-radius: 50%; /* Redondea las imágenes, haciéndolas circulares */
  border: 2px solid #fff; /* Añade un borde blanco alrededor de los íconos */
  transition: transform 0.3s ease-in-out;
}

.social-icons img:hover {
  transform: scale(1.1); /* Efecto de aumento al pasar el mouse */
}

/* Asegurar que los íconos sean responsivos en pantallas pequeñas */
@media (max-width: 768px) {
  .social-links h3 {
    font-size: 1.2rem;
  }

  .social-icons img {
    width: 40px;
    height: 40px;
  }
}
