/* Estilo para el navbar */
.navbar {
    background-color: rgba(52, 213, 71, 0.68); /* Tono madera cálido que refleja el estilo del restaurante */
    position: relative;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil para darle profundidad */
}

.navbar .navbar-nav .nav-link {
    color: #FFFFFF; /* Blanco para los enlaces */
    font-size: 1.1rem; /* Ajuste en el tamaño de los enlaces */
}

.navbar .navbar-nav .nav-link:hover {
    color: #E27D2B; /* Naranja cuando se pasa el ratón sobre los enlaces */
}

.navbar-toggler {
    border: none;
}

/* Estilo para el body */
body {
    font-family: "Poppins", sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background: url("../imagenes/fondo1.jpg") no-repeat center center fixed;
    background-size: cover;
}

/* Estilo para las imágenes de las mesas */
.mesa-img-wrapper {
    width: 120px;  /* Tamaño fijo para las imágenes */
    height: 120px; /* Tamaño fijo para las imágenes */
    border-radius: 16px;
    overflow: hidden;
    background: #f1f3f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mesa-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;  /* Asegura que la imagen se ajuste sin distorsionarse */
}

/* Estilo para los botones de las mesas */
.btn-success {
    background-color: #28a745;
    border: none;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}

.btn-danger:hover {
    background-color: #c82333;
}

h2 {
    color: #fff;
    margin-bottom: 40px;
}

h4 {
    color: #fff;
}
