.navbar {
    background-color: rgba(52, 213, 71, 0.68); 
    position: relative;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.navbar .navbar-nav .nav-link {
    color: #FFFFFF;
    font-size: 1.1rem; 
}

.navbar .navbar-nav .nav-link:hover {
    color: #E27D2B; 
}

.navbar-toggler {
    border: none;
}


body {
    font-family: "Poppins", sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background: url("../imagenes/fondo1.jpg") no-repeat center center fixed;
    background-size: cover;
}


.container {
    max-width: 100%;
}

h2 {
    color: #fff;
}


form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-label {
    color: #333;
}

.btn-primary {
    background-color: #34d547;
    border: none;
}

.btn-primary:hover {
    background-color: #28a745;
}
