/* Estilo para el navbar */
.navbar {
    background-color: rgba(52, 213, 71, 0.68); /* Tono madera cálido que refleja el estilo del restaurante */
    position: relative;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil para darle profundidad */
}

.navbar .navbar-nav .nav-link {
    color: #FFFFFF; /* Blanco para los enlaces */
    font-size: 1.1rem; /* Ajuste en el tamaño de los enlaces */
}

.navbar .navbar-nav .nav-link:hover {
    color: #E27D2B; /* Naranja cuando se pasa el ratón sobre los enlaces */
}

.navbar-toggler {
    border: none;
}

/* Estilo para el body */
body {
    font-family: "Poppins", sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background: url("../imagenes/fondo1.jpg") no-repeat center center fixed;
    background-size: cover;
}

/* Estilo para el formulario de inicio de sesión */
.container {
    max-width: 100%;
}

h2 {
    color: #fff;
}

/* Formulario */
form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-label {
    color: #333;
}

.btn-primary {
    background-color: #34d547;
    border: none;
}

.btn-primary:hover {
    background-color: #28a745;
}
