/* Establece el fondo de la página */
body {
  background-image: url("../imagenes/fondo1.jpg");  /* Fondo de madera */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column; /* Coloca los elementos en una columna */
  height: 100vh;
  margin: 0;
  font-family: "EB Garamond", serif;
}

/* Estilo para el navbar */
.navbar {
  background-color: rgba(52, 213, 71, 0.68);
  position: relative;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar .navbar-nav .nav-link {
  color: #FFFFFF;
  font-size: 1.1rem;
}

.navbar .navbar-nav .nav-link:hover {
  color: #E27D2B;
}

/* Estilo para el carrusel */
.carousel {
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
  max-width: 1200px;
}

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Diseño para los cuadros de enlaces */
.card.custom-card {
  border: 2px solid black;
  transition: transform 0.3s ease-in-out;
  background-color: green; /* Fondo rojo pastel */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card.custom-card:hover {
  transform: scale(1.05);
}

.card-img-top {
  object-fit: cover;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.custom-card-body {
  padding: 15px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
}

.card-text {
  font-size: 1rem;
  color: white;
  text-align: center;
}

/* Redes sociales */
.social-links {
  background-color: rgba(52, 213, 71, 0.9);
  padding: 20px;
  margin-top: 50px;
  border-radius: 10px;
}

.social-links h3 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.social-icons a {
  margin: 0 15px;
  outline: none;
  text-decoration: none;
}

.social-icons img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: transform 0.3s ease-in-out;
}

.social-icons img:hover {
  transform: scale(1.1);
}
